<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/secret.css">
</head>
<body>
    <% if(success && success.length > 0){ %>
        <p><%=success%></p>
    <% } %>
    <% if(error && error.length > 0){ %>
        <p><%=error%></p>        
    <% } %>



    <div class="container">
        <h2>Covid19 Global Status:  <%= new Date().toLocaleDateString() %></h2>
        <div class="global-data data mt-3 d-flex justify-content-around">
            <div class="confirmed data-box">
                <h3>Confirmed</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= data.Global.TotalConfirmed %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= data.Global.NewConfirmed %></p>
                </div>
            </div>
            <div class="recovered data-box">
                <h3>Recovered</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= data.Global.TotalRecovered %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= data.Global.NewRecovered %></p>
                </div>
            </div>
            <div class="deaths data-box">
                <h3>Deaths</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= data.Global.TotalDeaths %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= data.Global.NewDeaths %></p>
                </div>
            </div>
        </div>
        <h2 class="mt-5">Covid19 India Status:  <%= new Date().toLocaleDateString() %></h2>

        <div class="india-data data mt-3 d-flex justify-content-around">
            <div class="confirmed data-box">
                <h3>Confirmed</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= IndiaData.TotalConfirmed %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= IndiaData.NewConfirmed %></p>
                </div>
            </div>
            <div class="recovered data-box">
                <h3>Recovered</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= IndiaData.TotalRecovered %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= IndiaData.NewRecovered %></p>
                </div>
            </div>
            <div class="deaths data-box">
                <h3>Deaths</h3>
                <div class="total">
                    <h4>Total</h4>
                    <p><%= IndiaData.TotalDeaths %></p>
                </div>
                <div class="new">
                    <h4>New</h4>
                    <p><%= IndiaData.NewDeaths %></p>
                </div>
            </div>
        </div>
        <div class="logout-button mt-5">
            <button class="btn btn-info"><a href="/logout">Logout</a></button>
        </div>
    </div>
    
</body>
</html>

